<div :class="$store.state.appPrefix + '-p-knowledge-edit'" v-loading="isLoading">
  <div class="edit-panel">
    <label v-if="!isReadOnly">1. 文章标题</label>
    <hf-ui-input v-if="!isReadOnly" v-model="contentForm.title" placeholder="请输入文章标题" maxlength="30"></hf-ui-input>
    <h1 v-else>{{contentForm.title}}</h1>

    <label v-if="!isReadOnly">2. 检索标签 （选择关联标签，供其他系统检索内容时使用）</label>
    <div :class="['tag-list-panel', isReadOnly ? 'is-readonly' : '']">
      <div class="all-tag-list">
        <div class="search-condition">
          <hf-ui-input placeholder="输入标签名" v-model="tags.tagName">
            <template slot="prepend">标签名：</template>
            <hf-ui-button slot="append" icon="ui-icon-line-currency-search" @click="doSearchTags"></hf-ui-button>
          </hf-ui-input>
        </div>

        <ul class="tag-list-inner">
          <li
            v-for="item in tags.list"
            :key="item.tagId" :class="[item.checked === true ? 'selected' : '']"
            @click="toggleTag(item)"
          >
            <span class="ui-icon-line-currency-tick"></span> {{item.label}}
          </li>
        </ul>

        <hf-ui-pagination
          v-if="tags.total > tags.pageSize"
          layout="prev, pager, next, jumper, total"
          :page-size="tags.pageSize"
          @current-change="handlePageChange"
          :total="tags.total">
        </hf-ui-pagination>
      </div>

      <div class="tags-selected">
        <hf-ui-tag
          v-for="(tag, index) in tagsSelectedlist"
          :key="'tag-' + index + tag.tagId"
          :closable="!isReadOnly"
          :disabled="tag.disabled"
          @close="removeTag(tag)"
          :type="tag.type">
          {{tag.tagName}}
        </hf-ui-tag>
      </div>
    </div>

    <label v-if="!isReadOnly">3. 选择内容所属体系</label>
    <hf-ui-tree
      v-if="!isReadOnly"
      :data="tree"
      :props="props"
      :empty-text="''"
      node-key="categoryId"
      :default-expand-all="false"
      :check-strictly="true"
      :default-checked-keys="contentForm.selectedCategories"
      :default-expanded-keys="contentForm.selectedCategories"
      show-checkbox
      @check-change="handleCheckChange"
      ref="tree">
    </hf-ui-tree>

    <label v-if="!isReadOnly">4. 上传宣教视频</label>
    <div class="upload-panel">
      <div v-if="!isReadOnly" class="inner-btn">
        <lable v-if="isUploading" class="is-uploading"><span class="ui-icon-line-currency-loading"></span>上传中。。。</lable>
        <hf-ui-button v-else @click="triggerUpload" type="default">点击上传</hf-ui-button>
        <input type="file" name="file" @change="handelChange"/>
      </div>
      <div v-if="!isReadOnly" slot="tip" class="hf-ui-upload-tip">只能上传 {{mediaTypes.join('、')}} 文件</div>

      <span v-for="(file, index) in contentForm.attachments" :key="'video-' + index">
        <p>
          {{baseUrl + file.attachmentUrl}}
          {{file.attachmentType}}
          {{file.attachmentType === 'video'}}
          <span v-if="!isReadOnly" class="ui-icon-line-currency-rubbish" title="删除文件" @click="removeConfirm(index)"></span>
        </p>

        <video v-if="file.attachmentType === 'video'" :src="baseUrl + file.attachmentUrl" width="320" type="video/mp4" controls></video>
        <audio v-if="file.attachmentType === 'audio'" :src="baseUrl + file.attachmentUrl" width="320" type="audio/mpeg" controls></audio>
      </span>
    </div>

    <label v-if="!isReadOnly">5. 编辑文章内容</label>
    <div v-if="!isReadOnly">
      <!-- <div v-html="contentForm.detail"></div> -->
      <script id="editor" type="text/plain" style="width: 100%; height:400px;"></script>
    </div>
    <div v-else v-html="contentForm.detail" class="article-content"></div>
  </div>

  <div v-if="!isReadOnly" class="btn-row">
    <hf-ui-button type="secondary" @click="doPreview">预 览</hf-ui-button>
    <hf-ui-button type="primary" @click="doSubmit">保存</hf-ui-button>
  </div>
</div>
