.edit-user-pop {
  .hf-ui-dialog {
    height: 500px;
  }

  .hf-ui-form {
    display: flex;
    .edit-cell {
      flex: 1 1 50%;
      height: 300px;
      margin-bottom: 10px;

      &:first-child {
        flex: 1 1 45%;
        padding-right: 30px;
      }
    }
  }

  .g-c {
    text-align: right;
  }

  .department-tree {
    position: relative;
    border-left: 1px solid #eee;

    p {
      font-size: $font-14;
      line-height: 36px;
      padding-left: 36px;
    }

    .hf-ui-tree {
      position: absolute;
      top: 36px;
      left: 20px;
      right: 0;
      overflow-y: auto;
      bottom: 0;
    }
  }
}
