.#{$prefix}-p-login{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #429080;
  // background-attachment: fixed;
  // background-size: cover;

  &:before {
    content: " ";
    width: 771px;
    height: 422px;
    background: transparent url(../assets/images/bg-flower.png) no-repeat center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 438px;
    height: 400px;
    padding: 20px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);

    .header {
      display: flex;
      margin: 15px 0 30px 0;
      height: 100px;

      dt {
        flex: 1 1 130px;
        border-right: 1px solid #eee;
        line-height: 100px;

        img {
          vertical-align: middle;
        }
      }
  
      dd {
        flex: 1 1 auto;
        padding: 10px 0 0 0;
        img, i {
          margin-left: 20px;
        }

        i {
          font-size: 24px;
          font-style: normal;
          color: #999;
          display: block;
          margin-top: 5px;
        }
      }
    }

    .el-form-item__content {
      height: 44px;

      .el-input__inner {
        height: 44px;
        line-height: 42px;
        font-size: 16px;

        &:focus {
          border-color: #fd7929;
        }
      }
    }

    .hf-ui-button--primary {
      background: linear-gradient(90deg, #00b993, #00b993)!important;
      font-size: 20px!important;
      height: 44px!important;
      line-height: 44px!important;

      &:disabled {
        background: #eee!important;
      }
    }
  }
}
