.#{$prefix}-p-display-content{
  .setting-row {
    // padding: 20px;
    // border: 1px solid #eee;
    // border-radius: 4px;
    // margin: 10px 10px 30px 10px;

    label {
      display: block;
      padding-bottom: 20px;
    }

    .search-area {
      padding-bottom: 10px;
      margin-bottom: 10px;
      line-height: 36px;
      border-radius: 4px;

      .hf-ui-input {
        width: 50%
      }
    }
  }

  .setting-row label.hf-ui-checkbox {
    padding-bottom: 0;
  }

  .btn-row  {
    border-top: 0;
    padding-left: 10px;
    margin-bottom: 30px;
  }

  .hf-ui-pagination {
    margin: 30px;
    text-align: center;
  }
}

.edit-rule-pop {
  width: 96%;
  height: 96%;
  left: 2%!important;
  top: 2%!important;

  .hf-ui-dialog {
    width: 100%;
    position: relative;
    height: 100%;
    margin: 0;

    .hf-ui-dialog__body {
      position: absolute;
      width: 100%;
      top: 53px;
      bottom: 20px;
    }

    .hf-ui-form {
      position: absolute;
      right: 20px;
      bottom: 0;
      width: 350px;
      height: 100%;

      .hf-ui-form-item__label {
        margin-right: 12px;
      }

      .hf-ui-select {
        width: 100%
      }
    }

    .health-preservation-admin-p-knowledge-edit {
      height: 100%;
      overflow: auto;
      position: absolute;
      left: 20px;
      right: 400px;
    }

    // .hf-ui-dialog__footer {
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    // }

    .hf-ui-dialog__header {
      padding-top: 12px;
      .hf-ui-dialog__headerbtn {
        top: 10px;
      }
    }

    .dialog-footer {
      display: block;
      text-align: right;
    }
  }
}
