<section :class="$store.state.appPrefix + '-p-search-rule'">
  <hf-ui-row class="search-header">
    <hf-ui-col :span="24">
      <hf-ui-form ref="searchItems" :model="searchItems"  label-width="auto">
        <hf-ui-form-item label="规则名称：">
          <hf-ui-input v-model="searchItems.ruleName" placeholder="请输入规则关键字"></hf-ui-input>
        </hf-ui-form-item>
      </hf-ui-form>

      <div class="search-opt-btns">
        <hf-ui-button type="primary" @click="doSearch">搜索</hf-ui-button>
        <hf-ui-button type="secondary" icon="ui-icon-line-currency-addto" @click="handleNew">新增</hf-ui-button>
      </div>
    </hf-ui-col>
  </hf-ui-row>

  <hf-ui-table :data="list" style="width: 100%" border>
    <hf-ui-table-column v-for="(column, index) in columns"
      :key="'field_' + index"
      :prop="column.field"
      :label="column.label"
      :width="column.width">
    </hf-ui-table-column>
    <hf-ui-table-column label="操作">
      <template slot-scope="scope">
        <div class="btns">
          <hf-ui-button
            size="medium"
            @click="handleEdit(scope.$index, scope.row)">编辑</hf-ui-button>
          <hf-ui-button
            size="medium"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)">删除</hf-ui-button>
        </div>
      </template>
    </hf-ui-table-column>
  </hf-ui-table>

  <hf-ui-pagination
    v-if="totalCount > pageSize"
    layout="prev, pager, next, jumper, total"
    :page-size="pageSize"
    @current-change="handlePageChange"
    :total="totalCount">
  </hf-ui-pagination>

  <hf-ui-dialog
    title="编辑规则"
    :is-border="false"
    append-to-body
    class="edit-target-pop"
    :close-on-click-modal="false"
    :visible.sync="showEditDialog">
    <hf-ui-form ref="editForm" :model="editForm"  :rules="rules" label-width="auto">
      <hf-ui-form-item label="规则名称：" prop="ruleName">
        <hf-ui-input v-model="editForm.ruleName" maxlength="20" placeholder="请输入规则名称"></hf-ui-input>
      </hf-ui-form-item>

      <hf-ui-form-item label="规则类型：">
        <hf-ui-select v-model="editForm.ruleType" placeholder="请选择类型" class="subtype-select" @change="changeType">
          <hf-ui-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </hf-ui-option>
        </hf-ui-select>
      </hf-ui-form-item>

      <hf-ui-form-item label="时效内容：" v-if="editForm.ruleType === '1'">
        <hf-ui-select v-model="editForm.subType" placeholder="请选择时效类型" @change="changeSubType" width="110">
          <hf-ui-option
            v-for="item in subTypeOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </hf-ui-option>
        </hf-ui-select>

        <!-- <hf-ui-autocomplete
          class="inline-input"
          v-model="editForm.subType"
          :fetch-suggestions="querySearch"
          placeholder="请选择时效类型"
          @select="changeSubType"
          width="100"
        ></hf-ui-autocomplete> -->

        <hf-ui-select v-model="editForm.selectedItemMain" placeholder="请选择" @change="changeSelectedItem" width="110">
          <hf-ui-option
            v-for="item in selectedItemOption"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </hf-ui-option>
        </hf-ui-select>

        <hf-ui-select v-if="isComplexSubType" v-model="editForm.selectedItemSub" placeholder="请选择" @change="changeSubSelectedItem" width="110">
          <hf-ui-option
            v-for="item in subSelectedItemOption"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </hf-ui-option>
        </hf-ui-select>
      </hf-ui-form-item>

      <hf-ui-form-item v-if="editForm.ruleType === '2'" label="触发内容：" prop="content">
        <hf-ui-input v-model="editForm.content" type="textarea" maxlength="50" placeholder="请输入检索触发关键字，请以#号隔开关键字"></hf-ui-input>
      </hf-ui-form-item>

       <hf-ui-form-item label="规则说明：">
        <hf-ui-input v-model="editForm.ruleDesc" type="textarea" maxlength="50" placeholder="请输入规则说明"></hf-ui-input>
      </hf-ui-form-item>

      <span class="dialog-footer">
        <hf-ui-button @click="showEditDialog = false">取 消</hf-ui-button>
        <hf-ui-button type="primary" @click="doEdit">确 定</hf-ui-button>
      </span>
    </hf-ui-form>
  </hf-ui-dialog>
</section>
