<div class="login-form">
  <el-form
    ref="loginForm"
    v-loading="isSubmiting"
    :model="loginForm"
    :rules="loginRules"
  >
    <el-form-item prop="account">
      <el-input
        v-model="loginForm.account"
        placeholder="请输入用户名"
        @keyup.enter.native="$login"
        clearable
      >
      </el-input>
    </el-form-item>
    
    <el-form-item prop="password">
      <el-input
        v-model="loginForm.password"
        type="password"
        placeholder="请输入密码"
        @keyup.enter.native="$login"
        clearable
      >

      </el-input>
    </el-form-item>

    <!-- <el-checkbox v-model="checked">记住账号</el-checkbox> -->

    <el-form-item>
      <hf-ui-button
        type="primary"
        class="btn"
        :disabled="loginForm.account && loginForm.password ? false : true"
        @click="$login"
      >
        登录
      </hf-ui-button>
    </el-form-item>
  </el-form>
</div>
