@import "./components/edit/style";

.#{$prefix}-p-role {
  position: relative;
  height: 100%;

  .role-list-wrapper {
    overflow: auto;
    .role-list-default{
      tr:nth-of-type(1) {
        background-color: #ecf5ff;
      }
    }
  }
  
  .role-action {
    text-align: right;
    padding-right: 10px;
  }

  .user-list-wrapper {
    padding: 20px;
    background-color: #ecf5ff;
    border: 1px solid $default-border-color;
    border-radius: 4px;
    display: flex;

    .auth-tree {
      flex: 35% 1 1;
      border-right: 1px solid $main-color-09;
      margin-right: 10px;
      .auth-tree-wrap {
        margin-right: 10px;
        height: calc(100% - 50px);
        overflow: auto;
        .el-tree {
          background-color: transparent;
        }
      }
    }

    .user-list {
      flex: 60% 1 1;
      overflow: auto;
    }

    .list-title {
      padding-bottom: 10px;
      display: block;
    }
  }
}
