.#{$prefix}-p-content-tree{
  width: 60%;
  padding: 10px;
  position: relative;
  height: calc(100% - 20px);

  .input-root {
    margin-top: 10px;
  }

  .hf-ui-tree {
    border: 1px solid #eee;
    border-radius: 4px;
    position: absolute;
    top: 100px;
    left: 10px;
    width: calc(100% - 20px);
    bottom: 30px;
    overflow: auto;
    min-height: 200px;
  }

  .custom-tree-node {
    width: 100%;
    display: flex;

    span {
      flex: 1 1 60%;

      &:last-of-type {
        flex: 1 1 30%;
        text-align: right;
        margin-right: 10px;
      }
    }
  }
}
