.#{$prefix}-c-menu-edit {
  .u-form {
    .el-form-item {
      width: 33%;
      margin-right: 0;
      .el-input {
        min-width: 230px;
      }
    }
  }

  .u-block-display {
    opacity: 1;
    transition: all $transition-time;
  }
  .u-block-coll {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
