<div :class="[$store.state.appPrefix + '-p-dict']">
  <div v-loading="isPageLoading">
    <div class="list-filter">
      <el-form size="small" label-suffix=":" :inline="true" ref="filterForm" :model="filterForm" class="g-list-filter" label-width="120px">
        <hf-ui-row :gutter="24">
          <hf-ui-col :span="6">
            <el-form-item label="字典类型名称">
              <el-input v-model="filterForm.codeTypeName" clearable placeholder="请输入字典类型名称"></el-input>
            </el-form-item>
          </hf-ui-col>

          <hf-ui-col :span="6">
            <el-form-item label="字典类型代码">
              <el-input v-model="filterForm.codeTypeNum" clearable placeholder="请输入字典类型代码"></el-input>
            </el-form-item>
          </hf-ui-col>

          <hf-ui-col :span="6">
            <el-form-item label="规范代码">
              <el-input v-model="filterForm.nationNum" clearable placeholder="请输入规范代码"></el-input>
            </el-form-item>
          </hf-ui-col>
          <hf-ui-col :span="3">
            <hf-ui-button type="primary" @click.prevent="$search">查询</hf-ui-button>
            <hf-ui-button @click.prevent="$resetForm">重置</hf-ui-button>
          </hf-ui-col>
          <hf-ui-col :span="3">
            <hf-ui-button type="secondary" @click.prevent="$add(null)" v-if="$hasPermission('code-type--add')">新增</hf-ui-button>
            <hf-ui-button type="important" @click.prevent="$delConfirm(null)" v-if="$hasPermission('code-type--del')" :disabled="selectedItems.length === 0">删除</hf-ui-button>
          </hf-ui-col>
        </hf-ui-row>
      </el-form>
    </div>

    <!-- 列表 -->
    <div v-loading="isListLoading" class="list-content">
      <el-table stripe size="small" empty-text="暂无数据" ref="dictTable" tooltip-effect="dark" :data="list"
        header-row-class-name="u-table-tit" row-class-name="u-hover" @sort-change="$setSort"
        @selection-change="$selectionChange">
        <el-table-column type="selection">
        </el-table-column>
        <el-table-column prop="codeTypeName" sortable="custom" label="字典类型名称">
        </el-table-column>
        <el-table-column prop="codeTypeNum" sortable="custom" label="字典类型代码">
          <template slot-scope="scope">
            {{ scope.row.codeTypeNum | filterBlank }}
          </template>
        </el-table-column>
        <el-table-column prop="nationNum" sortable="custom" label="规范代码">
          <template slot-scope="scope">
            {{ scope.row.nationNum | filterBlank }}
          </template>
        </el-table-column>
        <el-table-column prop="remark" label="备注">
          <template slot-scope="scope">
            {{ scope.row.remark | filterBlank }}
          </template>
        </el-table-column>
        <el-table-column prop="updatedDt" sortable="custom" label="更新时间">
          <template slot-scope="scope">
            {{ scope.row.updatedDt | filterBlank }}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="100">
          <template slot-scope="scope">
            <span class="g-list-action">
              <i v-if="$hasPermission('code-type--mod')" class="hf-ui-icon ui-icon-line-currency-edit" title="编辑"
                @click="$edit(scope.row)"></i>
              <i v-if="$hasPermission('code-type--view')" class="hf-ui-icon  ui-icon-jiaoyuziyuan-line-currency-educationresources" title="字典数据"
                @click="$seeCodeList(scope.row)"></i>
              <i v-if="$hasPermission('code-type--del')" class="el-icon-close" title="删除"
                @click="$delConfirm(scope.row)"></i>
            </span>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination v-if="totalRecordCount > 0" class="g-pagination g-c" background :layout="pageconf.layout"
        :page-sizes="pageconf.pageSizes" :page-size="pageSize" :current-page.sync="pageNo" :total="totalRecordCount"
        @size-change="$handleSizeChange" @current-change="$getList">
      </el-pagination>
    </div>
  </div>

  <el-dialog
    :title="editTitle"
    :visible.sync="isShowEditModal"
    :append-to-body="true"
    width="50%"
    center>

    <dict-type-edit 
    :id="selectedId" 
    :is-edit-model="isEditModel" 
    :toggle-ctrl="isShowEditModal"
    @close="closeEditModal"
    @refresh-data="refreshData"
    ></dict-type-edit>

  </el-dialog>
</div>
