<div :class="[$store.state.appPrefix + '-p-code']" v-loading="isPageLoading">
  <div class="list-filter">
    <el-form size="small" label-suffix=":" :inline="true" ref="filterForm" :model="filterForm" class="g-list-filter"
      label-width="120px">
      <hf-ui-row :gutter="24">
        <hf-ui-col :span="8">
          <el-form-item label="字典数据名称">
            <el-input v-model="filterForm.codeName" clearable placeholder="请输入字典数据名称"></el-input>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="8">
          <el-form-item label="字典数据编号">
            <el-input v-model="filterForm.codeNum" clearable placeholder="请输入字典数据编号"></el-input>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="4">
          <hf-ui-button type="primary" @click.prevent="$search">查询</hf-ui-button>
          <hf-ui-button @click.prevent="$resetForm">重置</hf-ui-button>
        </hf-ui-col>
        <hf-ui-col :span="4">
          <hf-ui-button v-if="$hasPermission('code-data--add')" type="secondary" @click.prevent="$add(null)">新增
          </hf-ui-button>
          <hf-ui-button v-if="$hasPermission('code-data--del')" type="secondary" :disabled="selectedItems.length === 0"
            @click.prevent="$delConfirm(null)">删除</hf-ui-button>
        </hf-ui-col>
      </hf-ui-row>
    </el-form>
  </div>

  <div v-loading="isListLoading" class="list-content">
    <el-table stripe size="small" empty-text="暂无数据" ref="codeTable" tooltip-effect="dark" :data="list"
      header-row-class-name="u-table-tit" row-class-name="u-hover" @sort-change="$setSort"
      @selection-change="selectionChange">
      <el-table-column type="selection">
      </el-table-column>
      <el-table-column prop="codeNum" sortable="custom" label="字典数据编号">
        <template slot-scope="scope">
          {{ scope.row.codeNum | filterBlank }}
        </template>
      </el-table-column>
      <el-table-column prop="codeName" sortable="custom" label="字典数据名称">
        <template slot-scope="scope">
          {{ scope.row.codeName | filterBlank }}
        </template>
      </el-table-column>
      <el-table-column prop="sortNo" sortable="custom" label="排序号">
        <template slot-scope="scope">
          {{ scope.row.sortNo | filterBlank }}
        </template>
      </el-table-column>
      <el-table-column prop="updatedDt" sortable="custom" label="更新时间">
        <template slot-scope="scope">
          {{ scope.row.updatedDt | filterBlank }}
        </template>
      </el-table-column>
      <el-table-column prop="remark" label="备注">
        <template slot-scope="scope">
          {{ scope.row.remark | filterBlank }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <span class="g-list-action">
            <i v-if="$hasPermission('code-data--mod')" class="hf-ui-icon ui-icon-line-currency-edit" title="编辑"
              @click="$edit(scope.row)"></i>
            <i v-if="$hasPermission('code-data--del')" class="el-icon-close" title="删除"
              @click="$delConfirm(scope.row)"></i>
          </span>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination v-if="totalRecordCount > 0" class="u-pagination g-c" background :layout="pageconf.layout"
      :page-sizes="pageconf.pageSizes" :page-size="pageSize" :current-page.sync="pageNo" :total="totalRecordCount"
      @size-change="handleSizeChange" @current-change="$getList">
    </el-pagination>
  </div>

  <el-dialog
    :title="editTitle"
    :visible.sync="isShowEditModal"
    :append-to-body="true"
    width="50%"
    center>

    <dict-edit 
    :id="selectedId" 
    :code-type-num="codeTypeNum"
    :code-type-id="dictId"
    :is-edit-model="isEditModel" 
    :toggle-ctrl="isShowEditModal"
    @close="closeEditModal"
    @refresh-data="refreshData"
    ></dict-edit>

  </el-dialog>
</div>
