<div :class="[$store.state.appPrefix + '-c-menu-tree-search']">
  <div class="tree-search">
    <el-input
      placeholder="请输入菜单名"
      suffix-icon="hf-ui-icon ui-icon-line-currency-search"
      v-model="treeForm.menuName"
      @focus="dialogVisible=true"
      readonly>
    </el-input>
  </div>

  <el-dialog
    :title="title"
    :visible.sync="dialogVisible"
    :append-to-body="true"
    show-checkbox
    width="400px">
    <div class="tree-dialog">
      <div class="filter">
        <el-input
          class="u-ipt"
          placeholder="输入关键字进行过滤"
          v-model="filterText" />
      </div>

      <div class="body">
        <el-tree
          ref="tree"
          node-key="id"
          :accordion="true"
          :default-expand-all="defaultExpandAll"
          :default-checked-keys="defaultCheckedKeys"
          :default-expanded-keys="defaultExpandedKeys"
          :data="menuTree"
          :props="defaultProps"
          :filter-node-method="filterNode"
          @node-click="handleTreeClick">
        </el-tree>
      </div>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="cancel">取 消</el-button>
      <el-button type="primary" @click="confirm">确 定</el-button>
    </span>
  </el-dialog>
</div>
