.#{$prefix}-p-role {
  .auth-user{
    background-color: transparent;
    .filter-block{
      padding: 18px 0 10px;
      overflow: hidden;
      .del-btn{
        float: right;
        margin-left: 5px;
      }
      .filter-search{
        width: 300px;
      }
      .filter-search-select{
        .el-input {
          width: 95px;
        }
      }
    }
  }
}
