<div :class="[$store.state.appPrefix + '-p-menu']">
  <div v-loading="isPageLoading">
    <el-form label-suffix=":" :inline="true" ref="filterForm" :model="filterForm" class="g-list-filter">
      <hf-ui-row :gutter="24">
        <hf-ui-col :span="5">
          <el-form-item label="菜单名" label-width="60px">
            <el-input v-model="filterForm.menuName" clearable placeholder="请输入菜单名"></el-input>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="5">
          <el-form-item label="菜单类型">
            <el-select v-model="filterForm.menuType" clearable placeholder="请选择菜单类型">
              <el-option v-for="(value, key, index) in menuTypeMap" :key="index" :value="key" :label="value">
              </el-option>
            </el-select>
          </el-form-item>
        </hf-ui-col>
        <!-- <hf-ui-col :span="5">
          <el-form-item label="菜单归属">
            <el-select v-model="filterForm.belongType" clearable placeholder="请选择菜单归属类型">
              <el-option v-for="(value, key, index) in menuBelongTypeMap" :key="index" :value="key" :label="value">
              </el-option>
            </el-select>
          </el-form-item>
        </hf-ui-col> -->
        <hf-ui-col :span="4">
          <el-form-item label="是否显示">
            <el-select v-model="filterForm.isShow" clearable placeholder="请选择菜单是否显示">
              <el-option v-for="(value, key, index) in menuIsShowMap" :key="index" :value="key" :label="value">
              </el-option>
            </el-select>
          </el-form-item>
        </hf-ui-col>
        <hf-ui-col :span="8">
          <hf-ui-button type="primary" @click.prevent="$search">查询</hf-ui-button>
          <hf-ui-button @click.prevent="$resetForm">重置</hf-ui-button>
        </hf-ui-col>
        <hf-ui-col :span="2">
          <hf-ui-button type="secondary" @click.prevent="$add(null)">新增</hf-ui-button>
        </hf-ui-col>
      </hf-ui-row>
    </el-form>
  </div>

  <div v-loading="isListLoading" class="list-content">
    <div class="list-item list-item--tit">
      <span class="item1">菜单名称</span>
      <span class="item2">排序号</span>
      <span class="item3">菜单类型</span>
      <span class="item4">链接</span>
      <span class="item5">菜单归属</span>
      <span class="item6">是否显示</span>
      <span class="item7">操作</span>
    </div>

    <hf-ui-tree
      :data="list"
      node-key="id"
      ref="orgTree"
      :default-expanded-keys="defaultExpandKeys"
      :props="defaultProps"
      :expand-on-click-node="false">
      <div class="list-item" slot-scope="{ node, data }">
        <span class="item1">
          <a @click.prevent="$edit(data)">{{ data.menuName }}</a>
        </span>
        <span class="item2">{{ data.sortNo | filterBlank }}</span>
        <span class="item3">{{ data.menuType  | filterBlank }}</span>
        <span class="item4">{{ data.menuUrl | filterBlank }}</span>
        <span class="item5">{{ data.belongType | filterBlank }}</span>
        <span class="item6">{{ data.isShow  | filterBlank }}</span>
        <span class="item7 g-list-action">
          <i
            v-if="$hasPermission('menu--mod')"
            class="el-icon-edit"
            title="编辑"
            @click="$edit(data)"></i>
          <i
            v-if="$hasPermission(data.status == 0 ? 'menu--expire' : 'menu--recover')"
            class="fa u-btn-tool"
            :class="{
              'el-icon-video-pause': data.status == 0,
              'el-icon-video-play': data.status == 1
            }"
            :title="data.status == 0 ? '停用' : '启用'"
            @click="$toggleMenuStatus(data)"
          ></i>
          <i
            v-if="$hasPermission('menu--del')"
            class="el-icon-close"
            title="删除"
            @click="$delConfirm(data)"></i>
          <i
            v-if="$hasPermission('menu--add')"
            class="el-icon-plus"
            title="新增下级菜单"
            @click="$add(data)"></i>
        </span>
      </div>
    </hf-ui-tree>
  </div>

  <el-dialog
    :title="title"
    :visible.sync="isShowEditMenuItem"
    :append-to-body="true"
    width="80%"
    center>
    <menu-edit 
    :parent-id="selectedNodeParentId" 
    :id="selectedNodeId" 
    :is-edit-model="isEditModel" 
    :toggle-ctrl="isShowEditMenuItem"
    @close="closeEditModal"
    @refresh-data="refreshData"
    ></menu-edit>

  </el-dialog>

</div>
