<div class="add-user">
    <hf-ui-button @click="dialogVisible=true" size="medium" type="secondary">
      添加用户
    </hf-ui-button>
    <el-dialog
      title="添加用户"
      :visible.sync="dialogVisible"
      @open="$getRoleUserList(DEFAULT_PAGE_NO)"
      width="600px"
      center>
      <div class="dialog-body">
        <div class="dialog-filter">
          <el-input class="dialog-filter-input" placeholder="请输入内容" size="small" @keyup.enter.native="$getRoleUserList(DEFAULT_PAGE_NO)" v-model="searchVal">
            <el-select
              size="small"
              class="dialog-filter-select"
              v-model="searchType"
              slot="prepend"
              placeholder="请选择">
              <el-option
                v-for="item in titleArr"
                :key="item.prop"
                :label="item.label"
                :value="item.prop"></el-option>
            </el-select>
            <hf-ui-button size="small" slot="append" icon="ui-icon-line-currency-search" @click="$getRoleUserList(DEFAULT_PAGE_NO)"></hf-ui-button>
          </el-input>

          <div v-loading="isLoading" class="list">
            <el-table
              ref="userListTable"
              empty-text="-"
              size="mini"
              :data="userList"
              @sort-change="$setSort"
              @selection-change="$selectionChange"
              @select="$handleSelectionChange">
              <el-table-column
                type="selection"
              >
              </el-table-column>
              <template v-for="(item,key) in titleArr">
                <el-table-column
                  v-if="!item.isArr"
                  sortable="custom"
                  :key="key"
                  :prop="item.prop"
                  :label="item.label"
                  :width="item.width">
                </el-table-column>
                <el-table-column
                  v-else
                  :key="key"
                  :label="item.label"
                  :width="item.width">
                  <template slot-scope="scope">
                    {{scope.row[item.prop]}}
                  </template>
                </el-table-column>
              </template>
            </el-table>
          </div>

          <el-pagination
            small
            v-if="totalCount > 0"
            class="g-pagination"
            :layout="PAGE_CONFIG.simpleLayout"
            :page-size="pageSize"
            :current-page.sync="pageNo"
            :total="totalCount"
            @size-change="$handleSizeChange"
            @current-change="$getRoleUserList">
          </el-pagination>
        </div>
      </div>
      <div slot="footer" class="dialog-footer hf-table-dialog__footer">
        <hf-ui-button type="primary" :disabled="addUserIds.length <= 0 && rmUserIds.length <= 0" @click="$submit">确 定</hf-ui-button>
      </div>
    </el-dialog>
  </div>
  