/*font*/
$font-family: "PingFang SC",
"lucida grande",
"lucida sans unicode",
lucida,
helvetica,
"Hiragino Sans GB",
"WenQuanYi Micro Hei",
sans-serif;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;

$font-20-lineheight: 30px;
$font-18-lineheight: 28px;
$font-16-lineheight: 24px;
$font-14-lineheight: 22px;
$font-12-lineheight: 20px;

$font-weight-regular: 400;
$font-weight-medium: 600;
