/* 内容区大小 */
$min-width: 60rem;
$max-width: 60rem;

/* 屏幕大小设置 */
$header-height: 60px;
$left-menu-width: 200px;
$left-menu-width-min: 68px;
$tabs-height: 40px;
$footer-height: 40px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 952px;

/*gap*/
$page-gap: 10px;
$gap: 24px;
$gap-secondary: 20px;
$gap-third: 16px;
$gap-fourth: 12px;
$gap-fifth: 4px;
