.#{$prefix}-c-role-edit {
  // position: relative;
  // height: 95%;

  .edit-wrapper {
    display: flex;
    height: 300px;
    align-content: stretch
  }

  .el-form {
    flex: 55% 1 1;
    height: 95%;
    margin-right: 10px;
    overflow: auto;
    border-right: 1px solid $main-color-10;
    .el-form-item {
      width: 90%;
    }
    .el-form-item__content {
      width: calc(100% - 150px);
    }
    .el-select {
      width: 100%;
    }
  }

  .el-tree {
    flex: 50% 1 1;
    overflow-y: auto;
    height: 95%;
  }
}
