<div :class="[$store.state.appPrefix + '-c-role-edit']" v-loading="isLoading">
  <div class="edit-wrapper">
    <el-form size="small" label-width="150px" ref="basicForm" :inline="true" :model="basicForm" :rules="rules">
      <el-form-item label="角色名称" prop="roleName" :error="backendErrForm.roleName">
        <el-input v-model="basicForm.roleName" maxlength="32" placeholder="请输入角色名称"></el-input>
      </el-form-item>
      <el-form-item label="角色分类" prop="roleType">
        <el-select v-model="basicForm.roleType" clearable placeholder="请选择角色分类" :disabled="!isAdmin">
          <el-option v-for="(value, key, index) in ROLE_TYPES" :key="index" :value="key" :label="value"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="角色状态">
        <el-select v-model="basicForm.status" clearable placeholder="请选择角色状态">
          <el-option v-for="(value, key, index) in ROLE_STATUES" :key="index" :value="key" :label="value"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="排序号" prop="sortNo"
        :rules="{ type: 'number', required: true,  message: '排序号必须为数字', trigger: 'blur' }"
        :error="backendErrForm.sortNo">
        <el-input v-model.number="basicForm.sortNo" maxlength="9" placeholder="请输入排序号"></el-input>
      </el-form-item>
      <el-form-item label="备注" prop="remark" :rules="{ trigger: 'blur' }" :error="backendErrForm.remark">
        <el-input maxlength="100" type="textarea" :rows="2" v-model="basicForm.remark" placeholder="请输入备注"></el-input>
      </el-form-item>
    </el-form>
    <menu-tree-select ref="menuTreeSelect" :defaultExpandedKeys="sourceSelectedMenuIdList"
      :defaultCheckedKeys="sourceSelectedMenuIdList" :defaultExpandAll="false" @changed="$getSelectedMenuIds">
    </menu-tree-select>
  </div>

  <div class="g-c">
    <hf-ui-button type="primary" @click="$submit" v-if="!isLoading">{{ txtSubmit }}</hf-ui-button>
    <hf-ui-button type="primary" @click="$submit" v-else disabled>{{ txtSubmit }}</hf-ui-button>
    <hf-ui-button @click="$resetForm">重置表单</hf-ui-button>
    <hf-ui-button @click="$close">关闭</hf-ui-button>
  </div>
</div>
