<div :class="[$store.state.appPrefix + '-p-user']">
    <hf-ui-form label-suffix=":" :inline="true" ref="filterForm" :model="filterForm" size="medium">
      <hf-ui-row>
        <hf-ui-col :span="5">
          <hf-ui-form-item label="账号">
            <el-input v-model="filterForm.account" clearable placeholder="请输入账号"></el-input>
          </hf-ui-form-item>
        </hf-ui-col>

        <hf-ui-col :span="5">
          <hf-ui-form-item label="姓名">
            <el-input v-model="filterForm.name" clearable placeholder="请输入姓名"></el-input>
          </hf-ui-form-item>
        </hf-ui-col>

        <hf-ui-col :span="5">
          <hf-ui-form-item label="状态">
            <el-select v-model="filterForm.isLocked" clearable placeholder="请选择用户状态">
              <el-option
                v-for="(value, key, index) in USER_STATUS"
                :key="index"
                :value="key"
                :label="value"
              ></el-option>
            </el-select>
          </hf-ui-form-item>
        </hf-ui-col>

        <hf-ui-col :span="5">
          <hf-ui-button type="primary" @click="$search">查询</hf-ui-button>
          <hf-ui-button @click="$resetForm">重置</hf-ui-button>
        </hf-ui-col>

        <hf-ui-col :span="4">
          <hf-ui-button type="secondary" @click="$add">新建</hf-ui-button>
          <hf-ui-button type="important" @click="$delConfirm(null)" :disabled="selectedItems.length < 1">删除</hf-ui-button>
        </hf-ui-col>
      </hf-ui-row>
    </hf-ui-form>

    <div v-loading="isListLoading" class="list-content">
      <hf-ui-table
        border
        empty-text="暂无数据"
        ref="configTable"
        tooltip-effect="dark"
        :data="list"
        header-row-class-name="table-tit"
        @sort-change="$setSort"
        @selection-change="$selectionChange">

        <hf-ui-table-column type="selection"></hf-ui-table-column>

        <hf-ui-table-column
          v-for="(item, index) in listColumn"
          :key="index"
          :prop="item.prop"
          :sortable="item.sortByCustom"
          :width="item.width"
          :label="item.label">
          <template slot-scope="scope">
            {{ scope.row[item.prop] | filterBlank }}
          </template>
      </hf-ui-table-column>
      <hf-ui-table-column
        prop="isLocked"
        label="用户状态"
        width="110">
        <template slot-scope="scope">
          {{ scope.row.isLocked | convertUserStatus | filterBlank }}
        </template>
      </hf-ui-table-column>

      <hf-ui-table-column label="操作" width="320">
        <template slot-scope="scope">
          <div class="page-opts">
            <hf-ui-button @click="$edit(scope.row)" size="medium">编辑</hf-ui-button>
            <hf-ui-button @click="$resetPwdConfirm(scope.row)" size="medium">重置密码</hf-ui-button>
            <hf-ui-button @click="$toggleUserStatus(scope.row)" size="medium">{{scope.row.isLocked == 0 ? '停用' : '启用'}}</hf-ui-button>
            <!-- <hf-ui-button @click="$delConfirm(scope.row)" size="medium">删除</hf-ui-button> -->
          </div>
        </template>
      </hf-ui-table-column>
    </hf-ui-table>

      <hf-ui-pagination
        v-if="totalRecordCount > size"
        background
        layout="prev, pager, next, jumper, total"
        :page-size="size"
        :current-page.sync="current"
        :total="totalRecordCount"
        @size-change="$handleSizeChange"
        @current-change="$getList">
      </hf-ui-pagination>
    </div>

    <edit
      :dialogVisible="dialogVisible"
      :userId="editId"
      @update-success="$updateSuccess"
      @close-dialog="$closeDialog"
    />
  </div>
